Checks: >
  -*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-*,
  -cppcoreguidelines-pro-type-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -performance-no-int-to-ptr,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-avoid-const-params-in-decls,
  -clang-diagnostic-missing-designated-field-initializers,
  -clang-diagnostic-cast-align,
  -clang-diagnostic-missing-field-initializers,
  -clang-diagnostic-vla,

WarningsAsErrors: >
  clang-diagnostic-*,

HeaderFilterRegex: '^(?!.*InterFont\.hpp)(?!.*\.cpm-cache)(?!.*spa/)(?!.*vulkan/).*$'

FormatStyle: none

CheckOptions:
  bugprone-suspicious-string-compare.StringCompareLike: ''
